@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200,400);
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


body
{
	font-family: 'Titillium Web', sans-serif;
	overflow: hidden;
	margin: 0px;
	background-color: rgb(25,25,25);
}
.viewselector
{
	display: inline-block;
	width: 100%;
	height: 8vh;
	color: white;
}
.viewselected
{
	color: rgb(100,200,100);
}
.indicator
{
	-webkit-transition: color .5s;
		-moz-transition: color .5s;
		-ms-transition: color .5s;
		-o-transition: color .5s;
		transition: color .5s;
	display: inline-block;
	padding-left: 1vw;
	line-height: 8vh;
	/*float: left;*/
	color: rgb(200,0,0);
	font-size: 3vh;
}
nav
{
	height: 8vh;
	width: 100%;
	/*background-color: rgb(50,50,50);*/
	display: inline-block;
}
nav span
{
	display: inline-block;
	line-height: 8vh;
	font-size: 5vh;
	font-weight: 200;
	/*color: white;*/

}
nav a 
{
	float: right;
	display: inline-block;
	text-decoration: none;
	line-height: 8vh;
	display: inline-block;
	font-size: 3vh;
	color: white;
	/*background-color: rgb(100,100,100);*/
    /*padding: .75vh 1.75vw;*/
	margin: 0vh 2vw ;
	/*border-radius: 20px;*/
	/*border: none;*/
	-webkit-transition: color .5s;
		-moz-transition: color .5s;
		-ms-transition: color .5s;
		-o-transition: color .5s;
		transition: color .5s;
}
.connected
{
	color: rgb(100,200,100);
}
.row
{
	/*background-color: rgb(100,100,100);*/
	margin: 10vh 5vw;
	text-align: center;
}
.column
{
	-webkit-transition: background-color .25s;
		-moz-transition: background-color .25s;
		-ms-transition: background-color .25s;
		-o-transition: background-color .25s;
		transition: background-color .25s;
	color: white;
	background-color: rgb(100,100,100);
    padding: 3vh 9vw;
	margin: 10vh 5vw;
	border-radius: 6px;	
}
.activated
{
	-webkit-transition: background-color .25s;
		-moz-transition: background-color .25s;
		-ms-transition: background-color .25s;
		-o-transition: background-color .25s;
		transition: background-color .25s;
	background-color: rgb(100,200,100);
}
#main
{
	/*width: 80vw;*/
	padding-top: 2vh;
	height: 80vh;
	width: 75%;
	position: fixed;
	left: 50%;
	margin: 0 0 0 -37.5%;
	text-align: center;
}
#myCanvas
{
	background-color: white;
	cursor: pointer;
}
.toolbar
{
	width: 100%;
}
#colorviewer
{
	margin: 0vh 1vw;
	padding: 0vh 4vw;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	background-color: black;
}
.button
{
	float: right;
	text-decoration: none;
	border-radius: 6px;
	color: white;
	padding: 0vh 4vw;
	/*margin: 1vh 4vw;*/
	/*background-color: rgb(100,100,100);*/
}

.fade
{
	width: 100%;
	position: fixed;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}