<div id="main">
	<canvas width="100" height="100" id="myCanvas">
		
	</canvas>
	<br>
	<div class="toolbar">
		<a href="" id="clear" class="button"><i class="fa fa-times"></i></a>
		<a href="" id="eraser" class="button"><i class="fa fa-eraser"></i></a>
		<a href="" id="pen" class="button activated"><i class="fa fa-pencil"></i></a>
		<!-- <input type="text" placeholder="input color hex, e.g. 64c864" id="colorselector">
		<span id="colorviewer"></span> -->
		

		<!-- <span id="000" class="blackselect colorselector"></span> -->
	</div>
</div>
